<div class="select-container">
  <mat-form-field>
    <mat-label style="color: black;">Category</mat-label>
    <mat-select (selectionChange)="onSelectedCategory()" [(value)]="selected">
      <mat-option *ngFor="let category of categories" [value]="category.value">
        {{category.key}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<cdk-virtual-scroll-viewport *ngIf="shouldRenderVS" itemSize="600" class="example-viewport">
  <div *cdkVirtualFor="let item of ds; let i = index">
    <mat-card *ngIf="item" class="example-item" style="background-color:rgb(255, 191, 52);">
      <mat-card-header>
        <mat-card-title>{{item.uploadDate}}</mat-card-title>
        <mat-card-subtitle>by {{item.userId}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="{{item.path}}" routerLink="/details/{{item.id}}" alt="Photo">
      <mat-card-content>
      </mat-card-content>
      <mat-card-actions>
      </mat-card-actions>
    </mat-card>
  </div>
</cdk-virtual-scroll-viewport>