<div class="select-container">
<mat-form-field>
  <mat-label>Category</mat-label>
  <mat-select>
    <mat-option *ngFor="let category of categories" [value]="category.value">
      {{category.key}}
    </mat-option>
  </mat-select>
</mat-form-field>
</div>

<!-- <div class="select-container">
  <div class="inner-select-container">
  <label style="margin: 2em 0px 0px 0px;">
      <h5>Category</h5>
  </label>
  <select class="form-control" name="category" >
      <option *ngFor="let category of categories" [value]="category.value">{{category.key}}</option>
  </select>
</div>
</div> -->

<cdk-virtual-scroll-viewport itemSize="600" class="example-viewport">
  <mat-card *cdkVirtualFor="let item of ds" class="example-item" style="background-color:rgb(255, 191, 52);">
    <mat-card-header>
      <mat-card-title>{{item.uploadDate}}</mat-card-title>
      <mat-card-subtitle>by {{item.userId}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{item.path}}" alt="Photo">
    <mat-card-content>
      <p>
        there may be description
      </p>
    </mat-card-content>
    <mat-card-actions>
      <div class="button-container">
        <button mat-button class="btn btn-sm" (click)="test()"
          style="background-color: rgb(224, 33, 122); margin-right: 5px;">LIKE</button>
        <button mat-button class="btn btn-sm" style="background-color: rgb(42, 190, 87);">SHARE</button>
      </div>
    </mat-card-actions>
  </mat-card>
</cdk-virtual-scroll-viewport>