<h1>File Upload</h1>
<div class="custom-file">
    <label class="custom-file-label">Choose file</label>
    <input class="custom-file-input" type="file" name="file" (change)="onFileSelected($event)" />
</div>
<div class="form-group">
    <label style="margin-top: 2em;">
        <h5>Category:</h5>
    </label>
    <select class="form-control" name="category" [(ngModel)]="category">
        <option *ngFor="let category of categories" [value]="category.value">{{category.key}}</option>
    </select>
</div>
<div class="form-group">
    <input type="button" class="btn btn-success" value="Send" (click)="onUpload()" />
    <input type="button" class="btn btn-success" value="test" (click)="test()" />
</div>
<br />

<div style="text-decoration-color:chartreuse ;">{{response}}</div>